* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(80, 76, 70);
    box-sizing: border-box;

}

.nav-container {
    margin-bottom: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: orange;
    height: 90px;
    width: 100%;
}

nav h1 {
    font-size: 55px;
    font-family: sans-serif;
    color: rgb(53 53 53);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 499px) {

    .calc-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .calc-container {
        align-items: center;
        background: rgb(228, 228, 228);
        padding: 22px;
        -webkit-box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.75);
    }

    .button-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 8px;
        justify-content: center;
        margin: auto;
        width: 100%;
    }

    button {
        cursor: pointer;
        width: 60px;
        height: 60px;
        background-color: orange;
        color: black;
        font-size: 22px;
        border-radius: 15%;
        border: none;
        align-items: center;
    }

    button:hover {
        background-color: rgb(226, 147, 0);
    }

    .monitor-container {
        margin-bottom: 15px;
        display: flex;
        width: 100%;
        height: 86px;
        background-color: lightgray;
        border: solid 2px;
        border-color: #c9c9c9;
        border-radius: 20px;
        justify-content: center;
    }

    #monitor {
        font-size: 21px;
        color: black;
        margin: auto;
        overflow: hidden;
    }

}

@media (min-width: 500px) {

    .calc-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4px;
    }

    .calc-container {
        align-items: center;
        background: rgb(228, 228, 228);
        padding: 34px;
        -webkit-box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.75);
    }

    .button-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 11px;
        justify-content: center;
        margin: auto;
        width: 100%;
    }

    button {
        cursor: pointer;
        width: 94px;
        height: 94px;
        background-color: orange;
        color: black;
        font-size: 34px;
        border-radius: 15%;
        border: none;
        align-items: center;
    }

    button:hover {
        background-color: rgb(226, 147, 0);
    }

    .monitor-container {
        margin-bottom: 15px;
        display: flex;
        width: 100%;
        height: 114px;
        background-color: lightgray;
        border: solid 2px;
        border-color: #c9c9c9;
        border-radius: 20px;
        justify-content: center;
    }

    #monitor {
        font-size: 43px;
        color: black;
        margin: auto;
        overflow: hidden;
    }
}

#operator {
    background-color: rgb(80, 76, 70);
    color: orange;
}

#operator:hover {
    background-color: rgb(65, 61, 56);
    color: rgb(226, 147, 0);
}

#menu {
    background-color: rgb(176 176 176);
    color: black;
}

#menu:hover {
    background-color: rgb(156, 156, 156);
    color: black;
}